.card{
  border-radius: 4px;
  box-shadow: 0 6px 20px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}

.card:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card{
    background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}
.badge{
  position: absolute;
  left: 25px;
  top: 15px;
}

footer a{
  text-decoration: none;
  color: #454535;
}
.backtop{
  position: fixed;
  bottom: 10px;
  right: 10px;
}

@media (min-width:320px) and (max-width:767px){
  .carousel-item img{
    height: 50vh;
  }
}

@media (min-width:768px) and (max-width:1439px){
  .carousel-item img{
    height: 93vh;
  }
}

@media (min-width:1440px) and (max-width:2559px){
  .carousel-item img{
    height: 94vh;
  }
}

@media (min-width:2560px) and (max-width:3000px){
  .carousel-item img{
    height: 96.5vh;
  }
}

